.goals {
    padding: 100px 0 50px;
    &__row {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
    &__grid-t1 {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 415px 415px;
        grid-template-rows: minmax(415px, auto);
        column-gap: 30px;
        place-content: center;
        align-items: center;
    }
    &__grid-t2 {
        display: grid;
        grid-template-columns: 460px 520px;
        grid-template-rows: minmax(520px, auto);
        column-gap: 80px;
        place-content: center;
        align-items: center;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 163.52%;
        color: #171717;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 20px;
            li {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background: #171717;
                    top: 13px;
                    left: -16px;
                }
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 1299px) { //ot 1140 
    .goals {
        &__grid-t2 {
            grid-template-columns: 395px 460px;
            grid-template-rows: minmax(420px,auto);
            column-gap: 130px;
        }
    }
}

@media (max-width: 1139px) { //ot 1024
    .goals {
        &__grid-t2 {
            grid-template-columns: 350px 465px;
            grid-template-rows: minmax(420px,auto);
            column-gap: 65px;
        }
        &__text{
            font-size: 16px;
        }
    }
}

@media (max-width: 1023px) {
    .goals {
        &__grid-t2 {
            grid-template-columns: 350px 340px;
            grid-template-rows: minmax(350px,auto);
            column-gap: 30px;
        }
        &__grid-t1 {
            margin-top: 30px;
            grid-template-columns: 330px 370px;
            grid-template-rows: minmax(350px,auto);
        }
    }
}

@media (max-width: 767px) {
    .goals {
        padding: 30px 0;
        &__grid-t2 {
            display: flex;
            flex-direction: column;
        }
        &__grid-t1 {
            display: flex;
            flex-direction: column-reverse;
        }
        &__img {
            margin-top: 15px;
        }
    }
}