.header {
    padding: 14px 0;
    height: 90px;
    &__row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__logo {
        width: 137.68px;
        height: 58.02px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__langs {
        height: 20px;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
    &__lang {
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 163.52%;
            color: #A8A8A8;
            text-decoration: none;
        }
        &_active a {
            color: #00C834;
        }
        &:not(:last-child) {
            margin-right: 14px;
        }
    }
    &__hamburger {
        display: none;
    }
    &__mobile {
        display: contents;
    }
}

.menu {
    height: 20px;
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
    &__item {
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 163.52%;
            color: #181818;
            text-decoration: none;
            &:hover {
                color: #00C834;
                svg path {
                    fill: #00C834;
                }
            }
        }
        &_active a {
            font-weight: 500;
            color: #00C834;
        }
        &:not(:last-child) {
            margin-right: 75px;
        }
    }
    #menuProjects {
        position: relative;
    }
    &__projects {
        display: none;
        position: absolute;
        width: 255px;
        padding: 30px 16px;
        background-color: #fff;
        &_active {
            display: block;
        }
        a {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 163%;
            &:hover {
                color: #00C834;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 1299px) {
    .menu__item:not(:last-child) {
        margin-right: 45px;
    }
}

@media (max-width: 1139px) {
    .menu {
        &__item a {
            font-size: 14px;
        }
    }
}

@media (max-width: 1023px) {
    .menu {
        &__item:not(:last-child) {
            margin-right: calc(25px + 0.5vw);
        }
    }
}

@media (max-width: 767px) { //425
    .header {
        &__hamburger {
            display: block;
        }
        &__mobile {
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 40px;
            background: rgba(0, 0, 0, 0.8);
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
            &_active {
                visibility: visible;
                opacity: 1;
            }
        }
        &__langs {
            margin-top: 60px;
            height: auto;
            font-weight: 600;
        }
        &__lang a {
            font-weight: 700;
        }
    }
    .menu {
        height: auto;
        &__list {
            flex-direction: column;
        }
        &__item {
            a {
                font-weight: 500;
                font-size: 22px;
                color: #FFF;
            }
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        &__projects {
            display: block;
            position: unset;
            background-color: unset;
            padding: 0 0 0 15px;
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: all .5s;
            &_active {
                height: 110px;
                visibility: visible;
                opacity: 1;
            }
            a {
                font-size: 16px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}