.news {
    &-posts {
        padding: 100px 0 50px;
        display: grid;
    }
    &-post {
        display: grid;
        grid-template-columns: 415px 610px;
        grid-template-rows: minmax(310px, auto);
        place-content: center;
        column-gap: 50px;
        &:not(:last-child) {
            margin-bottom: 80px;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__date {
            font-weight: 400;
            font-size: 18px;
            line-height: 163%;
            color: #232323;
        }
        &__title {
            margin-top: 20px;
            font-weight: 500;
            font-size: 24px;
            line-height: 133%;
            color: #181818;
        }
        &__excerpt, &__link {
            font-weight: 400;
            font-size: 18px;
            line-height: 163%;
            color: #181818;
        }
        &__excerpt {
            margin-top: 10px;
        }
        &__link {
            margin-top: 10px;
            display: block;
            &:hover {
                color: #181818;
            }
        }
    }
    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        &__btn {
            width: 40px; height: 40px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            &_active {
                background: #00C834;
                color: #fff;
            }
        }
    }
}

@media (max-width: 1299px) {
    .news-post {
        grid-template-columns: 390px 580px;
        column-gap: 35px;
        &__title {
            margin-top: 5px;
        }
    }
}

@media (max-width: 1139px)  {
    .news-post {
        grid-template-columns: 340px 530px;
        column-gap: 30px;
        &__title {
            font-size: 22px;
        }
    }
}

@media (max-width: 1023px)  {
    .news-post {
        grid-template-columns: 290px 420px;
        column-gap: 20px;
        &__title {
            font-size: 20px;
        }
        &__excerpt, &__link, &__date {
            font-size: 16px;
        }
    }
}

@media (max-width: 767px)  {
    .news-post {
        grid-template-columns: 380px;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        &__img {
            height: 200px;
        }
    }
} 

@media (max-width: 424px)  {
    .news-post {
        grid-template-columns: 1fr;
        &__img {
            height: 200px;
        }
        &__title {
            margin-top: 0;
        }
    }
} 