.policy {
    padding: 50px 0;
    &__list {
        margin: 0 auto;
        padding: 0;
        margin-top: 45px;
        font-weight: 400;
        font-size: 18px;
        line-height: 163.52%;
        color: #171717;
        max-width: 675px;
        list-style: none;
        li {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    &__num {
        font-weight: 500;
        font-size: 24px;
        line-height: 179.02%;
        color: #181818;
        padding: 0 10px;
    }
}

@media (max-width: 1139px) {
    .policy {
        &__list {
            font-size: 16px;
            li:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}

@media (max-width: 767px) {
    .policy {
        padding: 30px 0;
        &__list {
            margin-top: 20px;
        }
    }
}