.promo {
    &__row {
        height: 500px;
        padding: 10px 325px 10px 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_home {
            background: url('../img/home-promo.jpg') center center / cover no-repeat;
        }
        &_about {
            background: url('../img/about-promo.jpg') center center / cover no-repeat;
        }
        &_students {
            background: url('../img/students-promo.jpg') center center / cover no-repeat;
        }
        &_news {
            background: url('../img/news-promo.jpg') center center / cover no-repeat;
        }
        &_college {
            background: url('../img/college-promo.jpg') center center / cover no-repeat;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 113.52%;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-top: 30px;
        font-weight: 500;
        font-size: 24px;
        line-height: 179.02%;
    }
    &__title, &__subtitle, &__link {
        color: #FFFFFF;
    }
    &__link {
        display: inline-block;
        margin-top: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 163.52%;
        text-decoration: underline;
        text-transform: uppercase;
        &:hover {
            color: #FFFFFF;
        }
    }
}

.college-promo {
    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 163%;
        color: #FFFFFF;
    }
}